<div class="card col-sm-6 mx-auto mt-5">
  <div class="card-body">
    <h3 class="mt-1 mb-3">プロフィール編集</h3>
    <div class="container-fluid">
      <h1><%= @user.username %></h5>
      <%= render 'layouts/avatar', user: @user %>
      <%= form_with model: @user do |f| %>
      <div class="form-group">
        <%= f.file_field :avatar %>
      </div>
      <div class="form-group">
        <%= f.label "ユーザーネーム" %>
        <%= f.text_field :username, :class => "form-control" %>
      </div>
      
      <div class="form-group">
        <%= f.label "自己紹介" %>
        <%= f.text_area :introduction, rows: 10, :class => "form-control" %>
      </div>
      
      <div class="form-group">
        <%= f.label "ギター歴" %>
        <%= f.select :how_long, {'～3ヵ月': '～3ヵ月', '～1年': '～1年', '～3年': '～3年', '～5年': '～5年', '5年以上': '5年以上'}, { include_blank: '選択してください'}, :class => "form-control" %>
      </div>
      
      <div class="form-group">
      <%= f.label "ギターブランド" %>
      <%= f.text_field :my_guiter_brand, :class => "form-control" %>
      </div>
      
      <div class="form-group">
        <%= f.label "ギターモデル" %>
        ギターモデル<%= f.text_field :my_guiter_model, :class => "form-control" %>
      </div>
      
      <div class="actions">
        <%= f.submit "Update", class: 'btn btn-primary btn-block' %>
      </div>

      <% end %>
    </div>
  </div>
</div>







