<h1>プロフィール編集</h1>

<h1><%= @user.username %></h1>

<% if @user.avatar.attached? %>
  <p><%= image_tag(rails_blob_path(@user.avatar),:size => "100x100") %></p>
<% else %>
  <p><%= image_tag("nonavatar.jpg", :size => "100x100") %></p>
<% end %>


<%= form_with model: @user do |f| %>
  <div class="field">
    <%= f.file_field :avatar %>
  </div>

  <div>username<%= f.text_field :username %></div>
  
  <div class="actions">
    <%= f.submit "Update" %>
  </div>
    
<% end %>