<h1>プロフィール編集</h1>

  <%# アバター未登録だとエラーが発声してしまうのか？　%>
        <% if @user.avatar.attached? %>
          <%= image_tag @user.avatar), class:"avatar" %>
        <% else %>
          <%= image_tag ("nonavatar.jpg"), class:"avatar" %>
        <% end %>

  <% #  <%= image_tag @user.avatar) %>

<%= form_with model: @user do |f| %>

  <div class="field">
    <%= f.label :"クリックしてアバター変更", class: "image_input_btn" %>
    <%= f.file_field :avatar, style:"display:none;", id:"upfile" %>
    
    <% #既に画像設定されている場合は、その内容を削除します %>
      <% if @user.avatar.attached? %>
        <% @user.avatar.purge %>
      <% end %>
    
  </div>

  <div>username<%= f.text_field :username %></div>
  <div><%= f.submit "保存" %></div>
<% end %>