<h3>更新ページ</h3>

<%= @post.title %>
<%= @post.content %>


<%= form_with(model: @post, local: true) do |f| %>


  <div class="form-group">
    <%= f.label :title, 'タイトル' %>
    <%= f.text_field :title, :class => "form-control" %>
  </div> 
    
  <div class="form-group">
      <%= f.label :content, 'コンテント'  %>
      <%= f.text_field :content, :class => "form-control" %>
    </div>
    
    <div>
      <%= f.label :image %>
      <%= f.file_field :image ,multiple: true%>
    </div>

    <%= f.submit "更新する" %>

<% end %>



<% @post.image.each do |image|%>
  <%= image_tag image.variant(resize: "500x500") %>
<% end %>
