<header class="mb-4">
  <nav class="navbar navbar-expand-sm navbar-light p-1" style="background-color:light;">
    <a class="navbar-brand" href="/">GGWP</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <% if user_signed_in? %>
          <li class="nav-item">
            <button type="button" class="btn btn-outline-info btn-sm mt-1"><%= link_to new_post_path do %><i class="far fa-edit"></i>投稿<% end %>
            </button>
          </li>
          
          
          <li class="nav-item">
          <% if current_user.avatar.attached? %>
            <%= link_to image_tag(rails_blob_path(current_user.avatar),:size => "50x50", class: 'nav-link'), user_path(current_user.id) %>
          <% else %>
            <%= link_to image_tag("nonavatar.jpg", :size => "50x50", class: 'nav-link'), user_path(current_user.id) %>
          <% end %>
          </li>
            <li class="nav-item"><%= link_to '投稿一覧' , posts_path, class: 'nav-link' %></li>
            <li class="nav-item"><%= link_to '会員情報変更',edit_user_registration_path, class: 'nav-link' %></li>
            <li class="nav-item"><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: 'nav-link' %></li>
            
          <% else %>
            <li class="nav-item"><%= link_to 'サインアップ', new_user_registration_path, class: 'nav-link' %></li>
            <li class="nav-item"><%= link_to 'ログイン', new_user_session_path, class: 'nav-link' %></li>
         <% end %>

      </ul>
    </div>
  </nav>
</header>