<header class="mb-4">
  <nav class="navbar navbar-expand-sm navbar-light" style="background-color:#FFFFFF;">
    <a class="navbar-brand" href="/">GGWP</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
      <ul class="navbar-nav">
          <% if user_signed_in? %>
            <li class="nav-item"><%= link_to '新規投稿',posts_new_path, class: 'nav-link' %></li>
            <li class="nav-item"><strong><%= link_to current_user.username, users_show_path, class: 'nav-link' %></strong></li>
            <li class="nav-item"></li><%= link_to '投稿一覧' , posts_show_path, class: 'nav-link' %></li>
            <li class="nav-item"><%= link_to '会員情報変更',edit_user_registration_path, class: 'nav-link' %></li>
            <li class="nav-item"><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: 'nav-link' %></li>
            
          <% else %>
            <li class="nav-item"><%= link_to 'サインアップ', new_user_registration_path, class: 'nav-link' %></li>
            <li class="nav-item"><%= link_to 'ログイン', new_user_session_path, class: 'nav-link' %></li>
         <% end %>

      </ul>
    </div>
  </nav>
</header>