<header class="mb-4">
  <nav class="navbar navbar-expand-sm navbar-light" style="background-color:#FFFFFF;">
    <a class="navbar-brand" href="/">GGWP</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
      <ul class="navbar-nav">
          <% if user_signed_in? %>
            <strong><%= link_to current_user.username, pages_show_path %></strong>
            <%= link_to 'プロフィール変更', edit_user_registration_path %>
            <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
          <% else %>
            <li class="nav-item"><a href="#" class="nav-link">サインアップ</a></li>
            <li class="nav-item"><a href="#" class="nav-link">ログイン</a></li>
            
            <%= link_to 'サインアップ', new_user_registration_path %>
            <%= link_to 'ログイン', new_user_session_path %>
          <% end %>

      </ul>
    </div>
  </nav>
</header>