<!DOCTYPE html>
<html  lang="ja">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>GGWP</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= favicon_link_tag('favicon.ico') %>

    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.7.2/js/all.js"></script>
  
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nixie+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Sawarabi+Gothic" rel="stylesheet">
  </head>

  <body>
  <% if user_signed_in? %>
    <header>
      <%= render 'layouts/navbar' %>
    </header>
    <div class="container-fluid">
      <%= render 'layouts/flash_messages' %>
    </div>
  <% end %>
  
  <% if user_signed_in? %>
    <div class="container">
        <%= yield %>
    </div>
      
  <% else %>
  <div class="jumbotron jumbotron-extend">
    <div class="container-fluid jumbotron-container">
      <div class="row">
        <div class="col-8">
          <h1 class="site-name">Dear Guiter</h1>
          <p><a class="btn btn-primary btn-lg" href="#" role="button">CONTACT ME</a></p>
        </div>
      <div class="col-4">
        <%= render 'toppages/login' %>
        <%= render 'layouts/flash_messages' %>
      </div>
    </div>
    </div>
    
    </div>

  </div>

  
  <% end %>
  </body>
</html>
